<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
  	<editor
         class="me.natejones.ett.Editor"
         default="true"
         extensions="timelog"
         id="me.natejones.ett.Editor"
         name="Editor">
  	</editor>
   </extension>
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type 
			id="timelog"
			name="Time Log"
			file-extensions="timelog">
			<describer class="org.eclipse.core.internal.content.TextContentDescriber"/>
		</content-type>
		</extension>
		
		<extension
      point = "org.eclipse.ui.newWizards">
 	<wizard
	   id = "org.eclipse.ui.examples.readmetool.wizards.new.file"
      	   name = "Time Log"
	   class="me.natejones.ett.NewFileWizard">
    	   <description>Create a new time log file.</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension>
</plugin>
